.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  z-index: 999;
  border-bottom: 2px solid #e10600;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: -80px;
  height: 100px;
  width: 230px;
  object-fit: contain;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 55px;
}

.navLinks a {
  position: relative;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background-color: #e10600;
  transition: 0.3s ease;
}

.navLinks a:hover {
  color: #ffffff;
}

.navLinks a:hover::after {
  width: 100%;
}
